.card-container {
  display: flex;
  background-color: #000;
  width: 25rem;
  height: 15rem;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
  }
}
